@model Testing.Models.Test1
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<html>
<head>

</head>
<body>
    <input type="button" id="btn1" value="Search" />
    <input type="text" id="txt1" />
    <div id="d1">

    </div>
</body>
</html>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        $('#btn1').click(function () {
            $.ajax({
                type: "GET",
                url: "/Student/SearchDisplay",
                data: { name: $('#txt1').val() },
                success:function(res)
                {
                    $('#d1').html(res);
                }
            })
        });
    });
    </script>
    }

